.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    font-family: 'Inter';
    padding: 13px 18px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;
    
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    color: #fff;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    background-color: #6B7A80;
    border: 1px solid #6B7A80;
    border-radius: 8px;
    outline: none !important;
    box-shadow: none !important;

    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &--size-m {
        font-size: 14px;
        padding: 7px 18px;
    }

    &--outline {
        background-color: #fff;
        border-color: rgba(0, 160, 227, 1);
        color: rgba(0, 160, 227, 1);

        & svg path {
            stroke: rgba(0, 160, 227, 1)
        }
    }

    &--primary {
        border-color: rgba(0, 160, 227, 1);
        background-color: rgba(0, 160, 227, 1);
        color: #fff;
    }

    &--error {
        border-color: rgba(255, 68, 67, 1);
        background-color: rgba(255, 68, 67, 1);
        color: #fff;
    }

    &--cancel {
        border-color: rgba(222, 228, 232, 1);
        background-color: rgba(222, 228, 232, 1);
        color: #333;
    }

    &--white {
        border-color: rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        color: #333;
    }

    &--color-blue {
        color: rgba(0, 160, 227, 1);
    }

    &--color-red {
        color: rgba(255, 68, 67, 1);
    }
}