.svb-input {
    position: relative;

    &__input, &__text, &__catalog, &__date {
        width: 100%;

        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }
    }

    &__catalog {
        padding-right: 40px;
    }
    
    &__slot {
        position: absolute;
        top: 25px;
        transform: translateY(-50%);

        color: rgba(107, 122, 128, 1);
        font-size: 13px;
        right: 12px;

        &--end {
            right: 12px;
        }
    }

    &--disabled {
        & input {
            background-color: rgba(243, 244, 246, 1);
        }
    }

    &--error {
        & input, & textarea {
            border-color: #FF4443;
        }
    }

    &--catalog {
        & .svb-input__slot{
            right: 36px;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-left: 5px solid transparent; 
            border-right: 5px solid transparent; 
            border-top: 5px solid #000;
        }
        
        &.svb-input--show-loader {
            &:after {
                display: none;
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                margin-top: -7px;
                right: 14px;
                width: 14px;
                height: 14px;
                aspect-ratio: 1;
                border-radius: 50%;
                background: 
                    radial-gradient(farthest-side,rgba(0, 160, 227, 1) 94%,rgba(0, 160, 227, 1)) top/2px 2px no-repeat,
                    conic-gradient(#0000 25%, rgba(0, 160, 227, 1) 25%, rgba(0, 160, 227, 1));
                -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 2px),#000 0);
                animation: l13 1s infinite linear;
            }

            @keyframes l13{ 
                100%{transform: rotate(1turn)}
            }
            
        }
    }
}